<div class="toolbar-wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="app-name">Ostrich</span>
      <span class="toolbar-spacer"></span>
      <a href="/#/notification" mat-button>通知</a>
      <a href="/#/chat" mat-button>会话</a>
      <a href="/#/calendar" mat-button>日历</a>
      <a href="/#/files" mat-button>文件</a>
      <button mat-button [matMenuTriggerFor]="appMenu">我</button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [routerLink]="['/projects']">
          <!-- <mat-icon>dialpad</mat-icon> -->
          <span>个人中心</span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>voicemail</mat-icon> -->
          <span>邀请新成员</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <!-- <mat-icon>退出登录</mat-icon> -->
          <span>退出登录</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
