<div id="header">
  <a id="my-projects">
    <span class="icon icon-menu">
      个人项目
    </span>
  </a>
  <form>
    <mat-form-field>
      <span>Search</span>
      <input matInput type="search" name="search" placeholder="请输入搜索内容">
    </mat-form-field>
  </form>
  <div id="aa"></div>
  <div id="medium">
    <a href="">我的</a>
    <a href="">日历</a>
  </div>
  <div id="message">
    <a href=""><span>提醒</span></a>
    <a href=""><span>消息</span></a>
  </div>
</div>

<mat-toolbar color="primary">
  <a>任务</a>
  <a>分享</a>
</mat-toolbar>

<div id="tool-bar">
  <div id="path">
    <a href="">首页</a>
    <span> ></span>
    <a href="">本项目名称</a>
  </div>

  <div id="main-tool">
    <a href="">任务</a>
    <a href="">分享</a>
    <a href="">文件</a>
    <a href="">日程</a>
    <a href="">群聊</a>
  </div>
  <img src="" alt="参与者人数">
  <a id="view" href="">视图</a>
  <a id="menu" href="">菜单</a>
</div>

<router-outlet></router-outlet>
