# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# dependencies
/frontend/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
npm-debug.log
testem.log
/frontend/typings

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

# System Files
.DS_Store
Thumbs.db
