.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  color: #292929;
  margin: 10px 20px;
  text-align: center;
  font-size: 48px;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
