<div class="navbar-wrapper">
  <app-navigation-bar></app-navigation-bar>
</div>
<div class="project-list-wrapper">
  <mat-list>
    <mat-card class="project-item">
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-header class="card-content">
        <div class="project-left">
          <mat-card-title class="project-title">同济早餐柜</mat-card-title>
          <mat-card-subtitle class="project-description">同济大学，黄渡学院，学生作品</mat-card-subtitle>
        </div>
        <div class="project-right">
          <div class="icons">
            <button mat-icon-button>
              <mat-icon svgIcon="add-user" class="feat-icon"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon svgIcon="detail" class="feat-icon"></mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon svgIcon="leave" class="feat-icon"></mat-icon>
            </button>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
  </mat-list>
</div>
