#header {
  height: 7%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}

#my-projects {
  min-width: 150px;
  max-width: 150px;
  font-size: 16pt;
  text-align: center;
}

.icon-menu:before {
  content: "\EAC7";
}

#search-input {
  height: 80%;
  border-radius: 30px;
  flex-grow: 1;
  max-width: 400px;
  min-width: 400px;
  font-size: 14px;
  margin-left: 15px;
  background-color: rgba(230, 230, 230, 0.8);
  border: solid rgba(150, 150, 150, 0.8) 0.5px;
  opacity: 0.8;
  padding-left: 30px;
  padding-right: 30px;
}

#aa {
  width: 25%;
}

#search-input input {
  line-height: 80%;
  height: 100%;
  border: none;
  background-color: transparent;
}

#search-input input:focus {
  outline: none;
}


#medium {
  text-align: right;
  max-width: 100px;
  min-width: 100px;
  margin-left: auto;
  margin-right: 0%;
}

#message {
  max-width: 100px;
  min-width: 100px;
  margin-left: 3%;
}

#user {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

#tool-bar {
  height: 9%;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
}

#main-tool {
  width: 600px;
  display: inherit;
  margin: auto;
  justify-content: center;
}

#main-tool a {
  margin-left: 5%;
}

#path {
  width: 220px;
  padding: 10px;
  font-size: large;
}
