<div droppable (onDrop)="onErrorMoveDrop($event)" [dropScope]="'move'" >

  <div id="priority-form" class="form" style="display: none" (click)="hideThisForm($event)">
    <div (click)="notHideThisForm($event)">
      <ul (click)="setPriority($event)">
        <li value="3">非常紧急</li>
        <li value="2">紧急</li>
        <li value="1">一般</li>
      </ul>
    </div>
  </div>

  <div id="create-new-form" class="form" style="display: none" (click)="hideThisForm($event)">
    <div (click)="notHideThisForm($event)">
      <input type="text" class="txt" placeholder="task content" [(ngModel)]="inputContent">
      <a (click)="addItems($event)">commit</a>
    </div>
  </div>

  <div id="detail-form" class="form" style="display: none" (click)="hideThisForm($event)">
    <div *ngIf="displayedItem!=null" (click)="notHideThisForm($event)">
      <span>content: {{displayedItem['content']}}</span>
      <br>
      <span>updated: {{displayedItem['updated']}}</span>
    </div>
  </div>


  <div *ngFor="let task of tasks; let i = index" [@tasks]="task.length" class="task-column" id="{{i}}" droppable (onDrop)="onMoveDrop($event)" [dropScope]="'move'">

    <div id="title">
      <h3> {{titles[i]}} · {{task.length}} </h3>
      <a> v </a>
    </div>

    <div *ngFor="let item of task; let j = index" class="item" (click)="displayItemDetail($event)" (dblclick)="removeItems($event)" draggable dragData="{{item}}" (onDrag)="onMoveDrag($event)" [dragScope]="'move'">
      <div class="item-priority priority-{{item.priority}}" (click)="changePriority($event)"></div>
      <span class="is-done" (click)="changeIsDoneState($event)"> {{item.isDone}} </span>
      <span class="item-content">{{item.content}}</span>
    </div>
    <a class="add-btn" (click)="addNewTask($event)"> 添加任务 </a>
  </div>

</div>
