      <div id="chat-page">
        <div class="chat-container">
          <div class="chat-header">
            <h2>Ostrich Chat</h2>
          </div>
          <ul id="messageArea">
            <li *ngFor="let message of messages; let i = index"></li>
          </ul>
          <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
              <div class="input-group clearfix">
                <input type="text" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" id="message" placeholder="Type a message..." class="form-control"/>
                <button type="submit" class="primary" (click)="sendMessage()">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>



