<div class="card-group-wrapper">
  <h3 class="card-group-title">{{group.name}}</h3>
  <div class="card-list-wrapper">
    <mat-selection-list>
      <div class="card-wrapper" draggable
        [@toggleCompletionAnimation]="task.done ? 'done' : 'undone'"
        *ngFor="let task of getUnfinishedTasks()">
        <mat-card>
          <mat-card-content><mat-checkbox color="primary" (click)="toggleTask(task)" [ngModel]="task.done">{{task.content}}</mat-checkbox></mat-card-content>
        </mat-card>
      </div>
    </mat-selection-list>
    <mat-selection-list>
      <div class="card-wrapper"
        *ngFor="let task of getFinishedTasks()">
        <div class="card-finished">
          <mat-card-content><mat-checkbox color="primary" (click)="toggleTask(task)" [ngModel]="task.done">{{task.content}}</mat-checkbox></mat-card-content>
        </div>
      </div>
    </mat-selection-list>
  </div>
</div>
