<div class="dashboard-wrapper">
  <div class="task-groups">
    <div class="task-wrapper" *ngFor="let group of getTaskGroups()">
      <app-task-group [group]="group"></app-task-group>
    </div>
  </div>
  <footer class="dashboard-foot"></footer>
</div>
<div class="add-icon-wrapper">
  <mat-menu #newMenu="matMenu">
    <button mat-menu-item (click)="newTaskDialog()">
      <span>创建任务</span>
    </button>
    <button mat-menu-item (click)="newTaskGroupDialog()">
      <span>创建任务组</span>
    </button>
  </mat-menu>
  <button mat-fab color="primary" [matMenuTriggerFor]="newMenu">
    <mat-icon svgIcon="plus"></mat-icon>
  </button>
</div>
